body {
    font-family: Arial, sans-serif;
    background-color: #111fbb79;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #21c3aa;
    padding: 20px;
    box-shadow: 0 0 10px rgba(241, 15, 41, 0.1);
    width: 300px;
    border-radius: 10px;
    
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #16d543;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}
.a{
    text-decoration: none;
    color: black; 
        border-top: 2px solid red;
        border-right: 2px dashed green;
        border-bottom: 2px dotted blue;
        border-left: 2px double purple;
      
    
}
.boxhead a {
    color: #d61d1d;
    text-decoration: none;
}

